@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Lato);
body { font-family: 'Lato', serif; color:#666; line-height:1.8em; }
a { color:#25f; }
h1, h2, h3 { color:#074; font-family: 'Roboto Slab', serif; }
h3 { color:#059; }
strong { color:#111; }

section.title h1,
section.title h2,
section.title h3 { color:#fff; }

section { padding:100px; font-size:1.8rem; }
section > * { max-width:950px; margin:0 auto;  }
section.title { background:#44aa66; }
section.title > * { max-width:1040px; }
section.title header { position:relative; top:50%; transform:translateY(-50%); text-align:center;  }
section.title h1 { font-size:6rem; line-height:9rem; }
section:not(.title) h1 { margin-bottom:40px; font-size:3.8rem; }
section:not(.title) h2 { margin-bottom:5px; font-size:2.6rem; }
section:not(.title) h3 { margin-bottom:8px; font-size:1.8rem; }

section .subsection { margin-bottom:40px; line-height:1.4; }
section .subsection ul,
section .subsection li { list-style-type:disc; margin-left:15px; }
section .subsection li { padding:15px 0; }
section > header { margin-bottom:60px; }
h2 {  }
h3 {  }

.example { padding-top:4px; font-size:.8em;
  color:#444; font-weight: bold;
}

.image { margin-bottom:30px; }
.image img { display:block; width:100%; min-height:300px; background:#eee; }
