@import url(https://fonts.googleapis.com/css?family=Lato:600,400);
@import "uri_images";
@import "commonmixins";
@import "slideshow";
@import "mediaqueries";
@import "userdetection";

@bgcolorBody: #2B4978;

body { font-size:15px; background-color:@bgcolorBody;
  line-height:1.5em; color:#fafafa; padding:0; font-family:"Lato";

  a,
  a:link,
  a:visited { color:#fff; font-weight:bold; text-decoration:underline; }
}

.page-wrapper { position:relative; max-width:1250px;
  margin:0 auto;
}

[data-frame] {
  margin-bottom: 4vw;
}

.slideshow-container { 
  padding:0 20px; 
  cursor: pointer; 
  position: relative;
  margin: 10px;
  padding: 5px;
  background: #fff;
  box-shadow: 0 0 10px #666;
  box-shadow:0 0 3px #aaa;
  transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);

  &:hover {
    transform: scale(1.025);
    box-shadow: 0 0 10px #777;

    .play-button {
      background: #000;
    }
  }
  
  &:active {
    transition-duration: .4s;
    transform: scale(.98);
  }

  img {
    display:block;
    height:100%; 
    max-width:100%;
  }

  .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background-color: #45588b;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 32px;
    cursor: pointer;
    z-index: 2000;
    box-shadow: 0 0 10px #555;
    transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  }  

  .play-button span {
    position:relative;
    top: 1px; 
    left:3px;
  }
}


// content sidebar 
.content { padding: 30px 15px;

  & > *:not(:last-child) { margin-bottom:20px;  }

  .tagline { font-size:21px; line-height:30px; }

  .marquee {

    .logo { margin-right:10px; font-size:48px; color:#fff;
      text-shadow:2px 2px 2px #666;
    }

    .beta { position:relative; top:-6px;
      font-size:14px;
    }
  }

  .version { padding-top:6px; margin-bottom:5px; }

  .not-on-chrome-desktop,
  .download-info { display:none; }

  .download-link { display:inline-block;
    padding:15px 30px; margin-bottom:5px;
    font-size:16px; border-radius:5px;
    color:#fff; border:1px solid; border-color:#999 #666 #666 #666;
    text-decoration:none; font-weight:normal;
    background:linear-gradient(0deg, darken(#15569B, 15%), #15569B);

    span { display:inline-block; vertical-align:middle; }

    &:hover { background:linear-gradient(0deg, darken(#15569B, 25%), darken(#15569B, 10%)); }
    &:active { transform:scale(.98) translateY(2px); .transition(.02s); }
  }

  .chrome-store-logo { display:inline-block; width:32px; height:32px;
    margin-right:5px; background:url(@logoChromeStore);
  }
}


// video 
.iframe-container {
  position: relative;
  max-width: 960px;
  width: 100%;
  margin: auto;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
